label {
  display: block;
  margin: 0.5rem auto;
}

input[type="number"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0.25rem;
  box-shadow: none;
  box-sizing: border-box;
  font-size: inherit;
  outline: none;
  padding: 0.5rem 0.75rem;
}

input.error {
  border: 1px solid red;
}

input.dark {
  background-color: #000;
  color: #fff;
}
